@media only screen and (min-width: 892px) and (max-width: 1200px) {


	section#splash {
		height: 70vh;
	}

	section#new {
		margin: none;

	}
	.wrapper {
		max-width: none;
		margin: 0 auto;
	}

	#podcasts {
		padding: 1em;
		margin: 0 auto;
		width: 90%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 80%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}


}

@media only screen and (min-width: 726px) and (max-width: 891px) {
	header {
		background-color: #222;
		height: none;
	}

	nav {
		display: none;
	}

	section#splash {
		background-color: rgba(90,167,186,.4);
		background-image: none;
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.mobile-nav {
		display: block;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		margin: 0 auto;

	}

	#podcasts {
		padding: 1em;
		margin: 0 auto;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 80%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	#programming {
		background-color: #222;
		color: #FFF;
		padding: 1em;
	}

	.shows {
		width: 31.3%;
	}

}

@media only screen and (min-width: 532px) and (max-width: 725px) {

	header {
		background-color: #222;
	}

	nav {
		display: none;
	}

	section#splash {
		background-image: none;
		background-color: rgba(90,167,186,.4);
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.mobile-nav {
		display: block;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		max-width: none;
		margin: 0 auto;
	}

	#podcasts {
		padding: 0;
		margin: 0 auto;
		margin-bottom: 1em;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1% 0 1% 0;
		width: 100%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	#programming {
		background-color: #FFF;
		color: #222;
		padding: 1em;
	}

	.shows {
		background-color: #222;
		width: 31.3%;
	}

}

@media only screen and (min-width: 506px) and (max-width: 531px) {
	header {
		background-color: #222;
	}

	nav {
		display: none;
	}

	section#splash {
		background-image: none;
		background-color: rgba(90,167,186,.4);
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.mobile-nav {
		display: block;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		max-width: none;
		margin: 0 auto;

	}

	#podcasts {
		padding: 0;
		margin: 0 auto;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1% 0 1% 0;
		width: 100%
	}

	.episodes h3{
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	#programming {
		background-color: #FFF;
		color: #222;
		padding: 0;
	}

	.shows {
		background-color: #222;
		width: 48%;

	}

}

@media only screen and (max-width: 506px) {
	header {
		background-color: #222;
	}
	
	body {
		background-color: #FFF;
	}

	nav {
		display: none;
	}

	section#splash {
		background-image: none;
		background-color: rgba(90,167,186,.4);
		height: auto;
		padding: 0;
		margin: 0;
	}

	section#new {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.mobile-nav {
		display: block;
	}

	.wrappernew {
		max-width: none;
		margin: 0;
	}

	.wrapper {
		max-width: none;
		margin: 0;

	}

	#podcasts {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1% 0 1% 0;
		width: 100%
	}

	.episodes h3{
		font-size: 1.5em;
		line-height: 1em;
	}

	.episodes p {
		font-size: 1em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;
	}

	#programming {
		background-color: #FFF;
		color: #222;
		padding: 0;
	}

	.shows {
		background-color: #222;
		margin: 1%;
		width: 48%;

	}

	footer a {
		width: 100%;
	}
}
