@media only screen and (min-width: 892px) and (max-width: 1200px) {

	section#splash {
		height: 70vh;
	}

	section#new {
		margin: none;

	}


	.wrapper {
		max-width: none;
		margin: 0 auto;
	}

	#podcasts {
		padding: 1em;
		margin: 0 auto;
		width: 90%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 80%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	.episodes div {
		float: left;
		margin: 1%;
		padding: 7em 1em 0 1em;
		width: 60%;
	}
}

@media only screen and (min-width: 726px) and (max-width: 891px) {

	nav {
		float: none;
		width: 100%;
	}

	section#splash {
		background-image: none;
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		
		margin: 0 auto;

	}

	#podcasts {
		padding: 1em;
		margin: 0 auto;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 80%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	.episodes div {
		float: left;
		margin: 1%;
		padding: 5em 1em 0 1em;
		width: 60%;
	}
	
	#programming {
		padding: 1em;
	}

	.shows {
		width: 31.3%;
	}

}

@media only screen and (min-width: 532px) and (max-width: 725px) {

	header {
		text-align: center;
	}

	header h1{
		float: none;
		width: 100%;
	}

	nav {
		float: none;
		padding: 1.3em 0 1.4em 0;
		width: 100%;
	}

	section#splash {
		background-image: none;
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		max-width: none;
		margin: 0 auto;

	}

	#podcasts {
		padding: 1em;
		margin: 0 auto;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 100%
	}

	.episodes h3{
		font-size: 1.8em;
		line-height: 1.8em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	.episodes div {
		float: left;
		margin: 1%;
		padding: 4em 1em 0 1em;
		width: 60%;
	}

	#programming {
		padding: 1em;
	}

	.shows {
		width: 31.3%;
	}

}

@media only screen and (min-width: 506px) and (max-width: 531px) {
	header {
		text-align: center;
	}

	header h1{
		float: none;
		width: 100%;
	}

	nav {
		float: none;
		width: 100%;
	}

	section#splash {
		background-image: none;
		height: 30vh;
	}

	section#new {
		padding: 0;
		margin: 0 0 1em 0;
		width: 100%;
	}

	.wrappernew {
		max-width: none;
	}

	.wrapper {
		max-width: none;
		margin: 0 auto;

	}

	#podcasts {
		padding: 0;
		margin: 0 auto;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1%;
		width: 100%
	}

	.episodes h3{
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.episodes p {
		font-size: 1.3em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	.episodes div {
		float: left;
		margin: 1%;
		padding: 3em 1em 0 1em;
		width: 60%;
	}

	.shows {
		width: 48%;

	}

	#programming {
		padding: 0;
	}


}

@media only screen and (max-width: 506px) {
		header {
		text-align: center;
	}

	header img{ 
		margin: 0 auto;
		padding: 0 5em 1em 5em;
		width: 100%;
	}
	body {
		background-color: #FFF;
	}

	nav {
		float: none;
		width: 100%;
	}

	section#splash {
		background-image: none;
	
		padding: 0;
		margin: 0 auto;
	}

	section#new {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.wrappernew {
		max-width: none;
		margin: 0;
	}

	.wrapper {
		max-width: none;
		margin: 0;

	}

	#podcasts {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.episodes {
		float: none;
		margin: 1% 0 1% 0;
		width: 100%
	}

	.episodes h3{
		font-size: 1.5em;
		line-height: 1em;
	}

	.episodes p {
		font-size: 1em;
	}

	.episodes img {
		float: left;
		margin: 1%;
		width: 30%;

	}

	.episodes div {
		float: left;
		margin: 1%;
		padding: 3em 1em 0 1em;
		width: 60%;
	}

	#programming {
		padding: 0;
	}

	.shows {
		margin: 1%;
		width: 48%;

	}

	footer a {
		width: 100%;
	}
}
