* {margin:0;padding:0;box-sizing:border-box;}
body{
	font-family: "Lucida Console", monaco, monospace;
	color: #222;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain; 
	background-color: rgb(255,255,255);
	font-size:16px;
}

header{
	text-transform: lowercase;
	text-align: right;
	color: white;
	background-color: rgba(0,0,0,1);
	padding:1em;
}
section#splash {
	float:right;
}
img{
	display:block;
	float:left;
	width: 766px;
	opacity: .7;
	border-style: none;
	border-color: rgba(0,0,0,.3);
}

ul{
	list-style-type: none;
	margin:1em 0 1em 0;
}

li{
	padding: .25em;
	width: 150px;

}

nav{
	float: right;
	background-color: rgba(0,0,0,.4);
	color: white;
	font-weight: normal;
	width: 187px;
	height: 700px;
}

#slogan{
	background-color: rgba(255,255,255,.5);
	text-align: center;
	color: #222;
	font-style: italic;
	font-size:3em;
	float:left;
}

#tagline{
	clear:both;
	background-color: rgba(0,0,0,1);
	color: white;
	font-size: 1.5em;
	line-height:1em;
	padding: 1em;
	text-align: right;
	width: 1400px;
}

.episodes{
	text-transform: uppercase;
	background-color: rgba(0,0,0,.4);
}

