* {margin:0;padding:0;box-sizing:border-box;}

@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
	background-color: rgba(255,255,255,.1);
	color: #222;
	font-family: "Lucida Console", monaco, monospace;
	font-size:16px;
	margin: 0 auto;

}

header{
	background-color: rgba(0,0,0,1);
	color: white;
	letter-spacing: .5em;
	padding: 1em;
	text-transform: lowercase;
	text-align: right;
}

nav{
	color: #222;
	font-family: 'Muli', sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: .1em;
	line-height: 1.5em;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

ul{
	list-style-type: none;	
}

li{
	display: inline;
	padding: 1em;
	width: 50%;
}

section#splash {
	clear: both;
	height: 60vh;
	margin: 0 auto;
	max-width: 1100px;

}

#splash img{
	border-style: none;
	border-color: rgba(0,0,0,.3);
	float: left;
	height: 100%;
	opacity: .7;

}

#slogan{
	float: left;
	font-family: 'Fauna One', serif;
	font-style: italic;
	font-size: 3em;
	height: 25%;
	letter-spacing: .1em;
	padding: 2em 0 0 1.5em;
	line-height: 2em;
	text-align: center;
	
}	

section#tagline{
	color: #222;
	clear: both;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	letter-spacing: .1em;
	line-height: 1.5em;
	margin-top: 1em;
	text-align: right;

}

h2{
	font-size: 2em;
	padding: .5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
}

section#podcasts {
	font-family: 'Muli', sans-serif;
	margin: 0 auto;
	max-width: 1100px;
	padding-top: 3em;
	
}


#latest h2{
	text-align: left;

}

#popular h2{
	text-align: left;

}

#More h2{
	text-align: left;	
}

.episodes{
	float:left;
	text-transform: uppercase;
	width: 25%; 
}

.episodes img {
	display:block;
	float:left;
	margin: 1em 0;
	width:50%;
}

.episodes div {
	float:left;
	padding: 5em 0 0 2em;
	width: 50%;
	margin: 1em 0;
}


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
