* {margin:0;padding:0;box-sizing:border-box;}

@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
	background-color: rgba(200,255,250,.3);
	color: #222;
	font-family: "Lucida Console", monaco, monospace;
	font-size:16px;

}

header{
	background-color: #222;
	color: #FFF;
	letter-spacing: .5em;
	padding: 1em;
	text-transform: lowercase;
	text-align: left;
}

header h1{
	background-color: #222;
	float: left;
}

section#new { 
	background-color: rgba(0,0,0,.5);
	border-color: rgba(0,0,0,.3);
	color: #FFF;
	float: left;
	font-family: 'Muli', sans-serif;
	margin: 5% 1% 5% 1%;
	width: 63%;
	height: 100%;
}

#new img{
	float: left;
	padding: 1%;
	width: 38%;
}

#new iframe{
	padding: 1em;
}

#new div{
	float: left;
	width: 60%;
}

#new h3{
	font-size: 1.5em;
	padding: 1em 1em 0 1em;
}

#new p{
	font-size: 1em;
	padding: 0em 1em 0em 1.5em;

}


div#splash {
	background-image: url(../images/podcalbackgroundweb.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

}



#slogan{
	background: rgba(90,167,186,.9);
	color: #FFF;
	float: left;
	font-family: 'Fauna One', serif;
	font-style: italic;
	font-size: 1.7em;
	height: 100%;
	line-height: 2.5em;
	padding-bottom: 7.1em;
	padding-top: 6.72em;
	text-align: center;
	width: 20%;
}	

nav{
	background-color: rgba(0,0,0,0);
	float: right;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: .1em;
	text-align: right;
	width: 15%;
}

nav a{
	color: #FFF;
	float: left;
	padding: 2.5em 1.5em;
	width: 100%;
	text-decoration: none;
}

nav a:hover{
	background-color: rgba(90,167,186,.9);
	color: #FFF;

}

h2{
	font-size: 2em;
	padding: .5em;
	text-align: left;
	text-transform: lowercase;
	letter-spacing: .5em;
}


#podcasts {
	font-family: 'Muli', sans-serif;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 1em;
	
}

#More {
	margin-bottom: 1em;
}

.episodes{
	background-color: rgba(90,167,186,1);
	border-radius: .3em;
	float:left;
	text-transform: uppercase;
	margin: .16%;
	width: 33%; 
}

.episodes img {
	display:block;
	float:left;
	margin: 1%;
	width: 40%;
}

.episodes div {
	color: #FFF;
	float:left;
	padding: 5em 1em 0 2em;
	width: 50%;
	margin: 1em 0;
}

#programs{
	background-color: #222;
	color: #FFF;
	font-family: 'Muli', sans-serif;
	margin-top: 1em;
}

#More{
	max-width: 1200px;
	margin: 0 auto;
}

.moreepisodes{
	background-color: rgba(90,167,186,.9);
	border-radius: .3em;
	float:left;
	text-transform: uppercase;
	margin: .25%;
	width: 24%; 
}

.moreepisodes img{
	display:block;
	float:left;
	margin: 1%;
	width: 48%;

}

.moreepisodes div {
	color: #FFF;
	float:left;
	padding: 2em 1em 0 2em;
	width: 50%;

}


footer{
	background: #222;
	color: #FFF;
	font-family: 'Muli', sans-serif;
	padding: 1em;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
